In [1]:
import requests
import pandas as pd
import io

In [2]:
BASE_URL = 'https://www-genesis.destatis.de/genesisWS/rest/2020/'
TOKEN = "5c88a4e4308c45a6880f622053f7c41f" 

headers = {
'Content-Type': 'application/x-www-form-urlencoded',
'username': TOKEN,
'password': ""
}
langPref = "de"

### Test if the connection works

In [3]:
hello = requests.post(BASE_URL + 'helloworld/logincheck',
headers = headers,
data = {
'language': langPref
})

# check the username -> it should not be guest
hello.text[:]

'{"Status":"Sie wurden erfolgreich an- und abgemeldet! Bei mehr als 3 parallelen Requests wurden länger als 15 Minuten laufende Requests beendet.","Username":"5c88a4e4308c45a6880f622053f7c41f"}'

In [ ]:
response = requests.post(BASE_URL + 'data/table',
headers = headers,
data = {
'name': '12411-0005',
'format' : 'json',
'language': 'de'
})
# prüfe, ob die Antwort Text, binär oder leer ist
print(response.text[0:120])

{"Ident":{"Service":"data","Method":"table"},"Status":{"Code":0,"Content":"erfolgreich","Type":"Information"},"Parameter

In [ ]:
data = response.json()
data["Object"]["Content"]

[]

In [ ]:
# csv_text ist dein Output aus data["Object"]["Content"]
csv_text = data["Object"]["Content"]

# Die CSV hat ein paar einleitende Zeilen (Tabelle:..., Bevölkerung:...), wir überspringen sie
# In diesem Beispiel skiprows=5 funktioniert meistens gut
df = pd.read_csv(io.StringIO(csv_text), sep=';', skiprows=6, engine='python')

# Spalten umbenennen: erste Spalte enthält Altersgruppen
df.rename(columns={df.columns[0]: 'Altersgruppe'}, inplace=True)

# Optional: alle Werte in int umwandeln
for col in df.columns[1:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Ergebnis prüfen
print(df.head())

   Altersgruppe  31.12.2020  31.12.2021  31.12.2022  31.12.2023  31.12.2024
0  unter 1 Jahr    769380.0    791254.0    724711.0    689834.0    673380.0
1     1-Jährige    783593.0    780795.0    786020.0    739396.0    700940.0
2     2-Jährige    798366.0    789145.0    773830.0    793110.0    744162.0
3     3-Jährige    806198.0    803334.0    782423.0    780001.0    797030.0
4     4-Jährige    811601.0    810805.0    797764.0    789018.0    783616.0

In [78]:
df = df.dropna()

In [79]:
df

,Altersgruppe,31.12.2020,31.12.2021,31.12.2022,31.12.2023,31.12.2024
0,unter 1 Jahr,769380.0,791254.0,724711.0,689834.0,673380.0
1,1-Jährige,783593.0,780795.0,786020.0,739396.0,700940.0
2,2-Jährige,798366.0,789145.0,773830.0,793110.0,744162.0
3,3-Jährige,806198.0,803334.0,782423.0,780001.0,797030.0
4,4-Jährige,811601.0,810805.0,797764.0,789018.0,783616.0
...,...,...,...,...,...,...
82,82-Jährige,687458.0,732760.0,722205.0,681158.0,553001.0
83,83-Jährige,604464.0,644569.0,675973.0,678282.0,641590.0
84,84-Jährige,544669.0,561973.0,589512.0,630184.0,633529.0
85,85 Jahre und mehr,2505932.0,2625444.0,2699436.0,2844213.0,3025803.0
86,Insgesamt,83155031.0,83237124.0,83118501.0,83456045.0,83577140.0

### Anpassung Bundesland

In [130]:
BASE_URL = 'https://www-genesis.destatis.de/genesisWS/rest/2020/'
TOKEN = "5c88a4e4308c45a6880f622053f7c41f" 

headers = {
'Content-Type': 'application/x-www-form-urlencoded',
'username': TOKEN,
'password': ""
}
langPref = "de"

In [131]:
response = requests.post(BASE_URL + 'data/table',
headers = headers,
data = {
'name': '12411-0010',
'format' : 'json',
'language': 'de',
"regionalvariable": "GEMEINDE",
"regionalkey": "06412000",
"startyear": "2010",
"endyear": "2024"
})
# prüfe, ob die Antwort Text, binär oder leer ist
print(response.text[0:120])

{"Ident":{"Service":"data","Method":"table"},"Status":{"Code":22,"Content":"erfolgreich (Mindestens ein Parameter enthäl

In [132]:
data = response.json()
data["Object"]["Content"]

'Tabelle: 12411-0010\nBevölkerung: Bundesländer, Stichtag;;;;;;;;;;;;;;;\nFortschreibung des Bevölkerungsstandes;;;;;;;;;;;;;;;\nBevölkerungsstand (Anzahl);;;;;;;;;;;;;;;\n;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag;Stichtag\n;31.12.2010;31.12.2011;31.12.2012;31.12.2013;31.12.2014;31.12.2015;31.12.2016;31.12.2017;31.12.2018;31.12.2019;31.12.2020;31.12.2021;31.12.2022;31.12.2023;31.12.2024\nBaden-Württemberg;10753880;10512441;10569111;10631278;10716644;10879618;10951893;11023425;11069533;11100394;11103043;11124642;11167721;11230740;11245898\nBayern;12538696;12443372;12519571;12604244;12691568;12843514;12930751;12997204;13076721;13124737;13140183;13176989;13105221;13176426;13248928\nBerlin;3460725;3326002;3375222;3421829;3469849;3520031;3574830;3613495;3644826;3669491;3664088;3677472;3632853;3662381;3685265\nBrandenburg;2503273;2453180;2449511;2449193;2457872;2484826;2494648;2504040;2511917;2521893;2531071;2537868;2545159;2554464;2556747\nBremen;660706;652182;654774;657391;661888;671489;678753;681032;682986;681202;680130;676463;695758;702655;704881\nHamburg;1786448;1718187;1734272;1746342;1762791;1787408;1810438;1830584;1841179;1847253;1852478;1853935;1832675;1851596;1862565\nHessen;6067021;5993771;6016481;6045425;6093888;6176172;6213088;6243262;6265809;6288080;6293154;6295017;6236933;6267546;6280793\nMecklenburg-Vorpommern;1642327;1606899;1600327;1596505;1599138;1612362;1610674;1611119;1609675;1608138;1610774;1611160;1576049;1578041;1573597\nNiedersachsen;7918293;7774253;7778995;7790559;7826739;7926599;7945685;7962775;7982448;7993608;8003421;8027031;7982947;8008135;8004489\nNordrhein-Westfalen;17845154;17544938;17554329;17571856;17638098;17865516;17890100;17912134;17932651;17947221;17925570;17924591;17964420;18017520;18034454\nRheinland-Pfalz;4003745;3990033;3990278;3994366;4011582;4052803;4066053;4073679;4084844;4093903;4098391;4106485;4108555;4125163;4129569\nSaarland;1017567;997855;994287;990718;989035;995597;996651;994187;990509;986887;983991;982348;1011891;1014047;1012141\nSachsen;4149477;4054182;4050204;4046385;4055274;4084851;4081783;4081308;4077937;4071971;4056941;4043002;4049967;4054689;4042422\nSachsen-Anhalt;2335006;2276736;2259393;2244577;2235548;2245470;2236252;2223081;2208321;2194782;2180684;2169253;2150239;2144570;2135597\nSchleswig-Holstein;2834259;2802266;2806531;2815955;2830864;2858714;2881926;2889821;2896712;2903773;2910875;2922005;2939283;2953202;2959517\nThüringen;2235025;2181603;2170460;2160840;2156759;2170714;2158128;2151205;2143145;2133378;2120237;2108863;2118830;2114870;2100277\n__________\n"Berlin: bis 1989 nur Berlin-West.\nNeue Länder ab 1990.\n\nAb 2011: Ergebnisse auf Grundlage des Zensus 2011.\nAb 2022: Ergebnisse auf Grundlage des Zensus 2022."\n© Statistisches Bundesamt (Destatis), 2025\nStand: 31.10.2025 / 20:25:20\n'

In [133]:
# csv_text ist dein Output aus data["Object"]["Content"]
csv_text = data["Object"]["Content"]

df = pd.read_csv(io.StringIO(csv_text), sep=';', skiprows=5, engine='python')

# Alle Spalten außer der ersten (Bundesland) transformieren
df.columns = [col[-4:] if col.startswith("31.12.") else "Bundesland" for col in df.columns]
df = df.dropna()

df = df.melt(id_vars="Bundesland", var_name="Jahr",value_name="Bevölkerung")

In [134]:
# Input variable 
bl = "Sachsen"

In [135]:
df1 = df[df["Bundesland"] == bl]

df1["Bevölkerung_last_year"] = df1["Bevölkerung"].shift(1)
df1["Bevölkerung_5_year"] = df1["Bevölkerung"].shift(5)

# percentage development
df1["Perc_Change1"] = (df1["Bevölkerung"] / df1["Bevölkerung_last_year"] -1)*100
df1["Perc_Change5"] = (df1["Bevölkerung"] / df1["Bevölkerung_5_year"] -1)*100

df1["Perc_Change1"] = df1["Perc_Change1"].round(2)
df1["Perc_Change5"] = df1["Perc_Change5"].round(2)

/var/folders/4c/4pm4bwz11292qrczgwq1dmfw0000gn/T/ipykernel_2238/2689466114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Bevölkerung_last_year"] = df1["Bevölkerung"].shift(1)
/var/folders/4c/4pm4bwz11292qrczgwq1dmfw0000gn/T/ipykernel_2238/2689466114.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Bevölkerung_5_year"] = df1["Bevölkerung"].shift(5)
/var/folders/4c/4pm4bwz11292qrczgwq1dmfw0000gn/T/ipykernel_2238/2689466114.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Perc_Change1"] = (df1["Bevölkerung"] / df1["Bevölkerung_last_year"] -1)*100
/var/folders/4c/4pm4bwz11292qrczgwq1dmfw0000gn/T/ipykernel_2238/2689466114.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Perc_Change5"] = (df1["Bevölkerung"] / df1["Bevölkerung_5_year"] -1)*100
/var/folders/4c/4pm4bwz11292qrczgwq1dmfw0000gn/T/ipykernel_2238/2689466114.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Perc_Change1"] = df1["Perc_Change1"].round(2)
/var/folders/4c/4pm4bwz11292qrczgwq1dmfw0000gn/T/ipykernel_2238/2689466114.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Perc_Change5"] = df1["Perc_Change5"].round(2)

### Arbeitslosenquote

In [137]:
BASE_URL = 'https://www-genesis.destatis.de/genesisWS/rest/2020/'
TOKEN = "5c88a4e4308c45a6880f622053f7c41f" 

headers = {
'Content-Type': 'application/x-www-form-urlencoded',
'username': TOKEN,
'password': ""
}
langPref = "de"

In [167]:
response = requests.post(BASE_URL + 'data/table',
headers = headers,
data = {
'name': '13211-0007',
'format' : 'json',
'language': 'de',
"startyear": "2010",
"endyear": "2024"
})
# prüfe, ob die Antwort Text, binär oder leer ist
print(response.text[0:120])

{"Ident":{"Service":"data","Method":"table"},"Status":{"Code":0,"Content":"erfolgreich","Type":"Information"},"Parameter

In [174]:
data = response.json()
data["Object"]["Content"]

'Tabelle: 13211-0007\nArbeitslose, Arbeitslosenquoten, Gemeldete Arbeitsstellen:;;;;;\nBundesländer, Jahre;;;;;\nArbeitsmarktstatistik der Bundesagentur für Arbeit;;;;;\n;;Arbeitslose;Arbeitslosenquote aller zivilen Erwerbspersonen;Arbeitslosenquote d. abhängigen ziv. Erwerbspers.;Gemeldete Arbeitsstellen\n;;Anzahl;Prozent;Prozent;Anzahl\nBaden-Württemberg;2010;272656;4,9;5,4;50969\nBaden-Württemberg;2011;226918;4,0;4,5;73278\nBaden-Württemberg;2012;222202;3,9;4,4;74844\nBaden-Württemberg;2013;233956;4,1;4,5;63506\nBaden-Württemberg;2014;230372;4,0;4,4;71974\nBaden-Württemberg;2015;227098;3,8;4,3;82009\nBaden-Württemberg;2016;226421;3,8;4,2;92333\nBaden-Württemberg;2017;212837;3,5;3,9;102096\nBaden-Württemberg;2018;195128;3,2;3,5;112360\nBaden-Württemberg;2019;196950;3,2;3,5;106185\nBaden-Württemberg;2020;259940;4,1;4,5;72963\nBaden-Württemberg;2021;247774;3,9;4,3;88314\nBaden-Württemberg;2022;223119;3,5;3,9;111188\nBaden-Württemberg;2023;245466;3,9;4,2;95715\nBaden-Württemberg;2024;269990;4,2;4,6;82697\nBayern;2010;299448;4,5;5,1;50336\nBayern;2011;254359;3,8;4,3;67074\nBayern;2012;248860;3,7;4,2;70082\nBayern;2013;264532;3,8;4,4;64412\nBayern;2014;264603;3,8;4,3;73092\nBayern;2015;256527;3,6;4,1;87784\nBayern;2016;250623;3,5;3,9;103907\nBayern;2017;231353;3,2;3,6;118912\nBayern;2018;214017;2,9;3,2;129853\nBayern;2019;211965;2,8;3,2;125827\nBayern;2020;275075;3,6;4,0;100066\nBayern;2021;262186;3,5;3,8;119158\nBayern;2022;235851;3,1;3,4;154634\nBayern;2023;257096;3,4;3,7;149006\nBayern;2024;285234;3,7;4,0;132035\nBerlin;2010;231221;13,6;15,8;9858\nBerlin;2011;228838;13,3;15,5;13389\nBerlin;2012;215348;12,3;14,5;18583\nBerlin;2013;210093;11,7;13,9;17997\nBerlin;2014;202927;11,1;13,2;20279\nBerlin;2015;194812;10,7;12,6;22493\nBerlin;2016;181018;9,8;11,5;25506\nBerlin;2017;168991;9,0;10,5;24793\nBerlin;2018;156230;8,1;9,5;25318\nBerlin;2019;152565;7,8;9,1;27602\nBerlin;2020;192644;9,7;11,2;20842\nBerlin;2021;198401;9,8;11,3;18839\nBerlin;2022;179327;8,8;10,1;21308\nBerlin;2023;187930;9,1;10,4;19613\nBerlin;2024;203242;9,7;11,0;21198\nBrandenburg;2010;148834;11,1;12,4;8504\nBrandenburg;2011;143190;10,7;11,9;10201\nBrandenburg;2012;136125;10,2;11,3;11168\nBrandenburg;2013;132329;9,9;11,0;10937\nBrandenburg;2014;124628;9,4;10,5;12158\nBrandenburg;2015;114873;8,7;9,7;15416\nBrandenburg;2016;105555;8,0;8,9;19400\nBrandenburg;2017;92648;7,0;7,8;20855\nBrandenburg;2018;83669;6,3;7,0;23490\nBrandenburg;2019;76888;5,8;6,4;23534\nBrandenburg;2020;82491;6,2;6,8;21217\nBrandenburg;2021;78463;5,9;6,5;23436\nBrandenburg;2022;74242;5,6;6,1;27974\nBrandenburg;2023;78996;5,9;6,5;25294\nBrandenburg;2024;82795;6,1;6,7;23913\nBremen;2010;38705;12,0;13,2;3718\nBremen;2011;37455;11,6;12,7;4672\nBremen;2012;36828;11,2;12,3;4819\nBremen;2013;37198;11,1;12,3;4331\nBremen;2014;37091;10,9;12,2;4742\nBremen;2015;37355;10,9;12,1;5452\nBremen;2016;36393;10,5;11,6;6382\nBremen;2017;35687;10,2;11,2;6510\nBremen;2018;34904;9,8;10,8;7169\nBremen;2019;35702;9,9;10,9;7425\nBremen;2020;40822;11,2;12,2;5844\nBremen;2021;39292;10,7;11,7;6510\nBremen;2022;37214;10,2;11,0;8858\nBremen;2023;39050;10,6;11,5;9028\nBremen;2024;41116;11,1;11,9;7897\nHamburg;2010;75486;8,2;9,5;14031\nHamburg;2011;72448;7,8;9,0;15329\nHamburg;2012;70434;7,5;8,6;16134\nHamburg;2013;71560;7,4;8,6;14127\nHamburg;2014;73663;7,6;8,7;14027\nHamburg;2015;73291;7,4;8,5;15197\nHamburg;2016;70666;7,1;8,1;15663\nHamburg;2017;69248;6,8;7,7;16614\nHamburg;2018;65589;6,3;7,2;17757\nHamburg;2019;64774;6,1;7,0;16067\nHamburg;2020;80677;7,6;8,5;9985\nHamburg;2021;80395;7,5;8,3;11056\nHamburg;2022;73800;6,8;7,6;12789\nHamburg;2023;80806;7,4;8,2;11336\nHamburg;2024;88471;8,0;8,8;13802\nHessen;2010;197982;6,4;7,2;30685\nHessen;2011;182583;5,9;6,6;37964\nHessen;2012;178329;5,7;6,4;35542\nHessen;2013;185612;5,8;6,6;32338\nHessen;2014;184378;5,7;6,5;35734\nHessen;2015;177944;5,5;6,1;42549\nHessen;2016;172826;5,3;5,9;48688\nHessen;2017;166287;5,0;5,6;52282\nHessen;2018;154337;4,6;5,1;55691\nHessen;2019;149812;4,4;4,9;54618\nHessen;2020;184955;5,4;6,0;41943\nHessen;2021;178086;5,2;5,7;45798\nHessen;2022;164492;4,8;5,2;53282\nHessen;2023;181344;5,2;5,7;48520\nHessen;2024;194912;5,5;6,1;47992\nMecklenburg-Vorpommern;2010;109865;12,7;14,0;6572\nMecklenburg-Vorpommern;2011;107543;12,5;13,8;8104\nMecklenburg-Vorpommern;2012;101893;12,0;13,2;9063\nMecklenburg-Vorpommern;2013;98952;11,7;12,9;9292\nMecklenburg-Vorpommern;2014;93067;11,2;12,2;10056\nMecklenburg-Vorpommern;2015;86095;10,4;11,3;11438\nMecklenburg-Vorpommern;2016;80389;9,7;10,6;12974\nMecklenburg-Vorpommern;2017;70982;8,6;9,4;14590\nMecklenburg-Vorpommern;2018;64993;7,9;8,6;16013\nMecklenburg-Vorpommern;2019;58485;7,1;7,7;17557\nMecklenburg-Vorpommern;2020;63850;7,8;8,4;15814\nMecklenburg-Vorpommern;2021;62410;7,6;8,3;17324\nMecklenburg-Vorpommern;2022;59571;7,3;7,9;19888\nMecklenburg-Vorpommern;2023;63191;7,7;8,4;18162\nMecklenburg-Vorpommern;2024;64944;7,9;8,6;16310\nNiedersachsen;2010;298652;7,5;8,3;35095\nNiedersachsen;2011;274707;6,9;7,6;45695\nNiedersachsen;2012;264543;6,6;7,3;47347\nNiedersachsen;2013;269207;6,6;7,3;43836\nNiedersachsen;2014;267624;6,5;7,2;48325\nNiedersachsen;2015;256434;6,1;6,8;55325\nNiedersachsen;2016;252574;6,0;6,6;62703\nNiedersachsen;2017;244260;5,8;6,3;68435\nNiedersachsen;2018;227834;5,3;5,8;77015\nNiedersachsen;2019;218123;5,0;5,5;75101\nNiedersachsen;2020;251377;5,8;6,3;62346\nNiedersachsen;2021;243021;5,5;6,0;77484\nNiedersachsen;2022;230553;5,3;5,7;87635\nNiedersachsen;2023;251873;5,7;6,2;77245\nNiedersachsen;2024;263090;5,9;6,4;69296\nNordrhein-Westfalen;2010;779582;8,7;9,6;73643\nNordrhein-Westfalen;2011;728797;8,1;8,9;97156\nNordrhein-Westfalen;2012;733307;8,1;8,9;98028\nNordrhein-Westfalen;2013;762784;8,3;9,2;86416\nNordrhein-Westfalen;2014;763213;8,2;9,1;99525\nNordrhein-Westfalen;2015;744228;8,0;8,8;116396\nNordrhein-Westfalen;2016;725653;7,7;8,5;134939\nNordrhein-Westfalen;2017;701219;7,4;8,1;154990\nNordrhein-Westfalen;2018;650768;6,8;7,4;169997\nNordrhein-Westfalen;2019;635486;6,5;7,2;163012\nNordrhein-Westfalen;2020;733740;7,5;8,2;128660\nNordrhein-Westfalen;2021;718220;7,3;8,0;143458\nNordrhein-Westfalen;2022;668502;6,8;7,4;169110\nNordrhein-Westfalen;2023;710175;7,2;7,8;148627\nNordrhein-Westfalen;2024;749712;7,5;8,1;136188\nRheinland-Pfalz;2010;119953;5,7;6,4;16944\nRheinland-Pfalz;2011;111074;5,3;5,9;20988\nRheinland-Pfalz;2012;111083;5,3;5,9;21513\nRheinland-Pfalz;2013;116360;5,5;6,1;20154\nRheinland-Pfalz;2014;115741;5,4;6,0;23602\nRheinland-Pfalz;2015;112882;5,2;5,8;27760\nRheinland-Pfalz;2016;111436;5,1;5,6;32997\nRheinland-Pfalz;2017;106299;4,8;5,3;37936\nRheinland-Pfalz;2018;98764;4,4;4,9;40467\nRheinland-Pfalz;2019;97717;4,3;4,8;39492\nRheinland-Pfalz;2020;117912;5,2;5,7;30971\nRheinland-Pfalz;2021;112137;5,0;5,4;37337\nRheinland-Pfalz;2022;102515;4,6;5,0;45781\nRheinland-Pfalz;2023;110716;4,9;5,3;41871\nRheinland-Pfalz;2024;120552;5,3;5,7;36985\nSaarland;2010;37834;7,5;8,2;4256\nSaarland;2011;34491;6,8;7,4;6057\nSaarland;2012;34282;6,7;7,3;6121\nSaarland;2013;37383;7,3;7,9;5854\nSaarland;2014;36911;7,2;7,8;5734\nSaarland;2015;36895;7,2;7,7;6443\nSaarland;2016;37103;7,2;7,7;7182\nSaarland;2017;34672;6,7;7,2;8145\nSaarland;2018;32233;6,1;6,6;9513\nSaarland;2019;32854;6,2;6,7;9093\nSaarland;2020;38364;7,2;7,8;7586\nSaarland;2021;36156;6,8;7,4;9272\nSaarland;2022;33017;6,3;6,8;12104\nSaarland;2023;35598;6,8;7,3;10929\nSaarland;2024;37241;7,0;7,6;8827\nSachsen;2010;253198;11,8;13,1;15034\nSachsen;2011;226887;10,6;11,8;18847\nSachsen;2012;207826;9,8;10,9;19241\nSachsen;2013;200628;9,4;10,5;18249\nSachsen;2014;187494;8,8;9,9;22721\nSachsen;2015;174319;8,2;9,2;27444\nSachsen;2016;157862;7,5;8,3;31818\nSachsen;2017;140348;6,7;7,4;35934\nSachsen;2018;126311;6,0;6,6;39164\nSachsen;2019;116051;5,5;6,0;37853\nSachsen;2020;128669;6,1;6,7;34755\nSachsen;2021;124743;5,9;6,5;40143\nSachsen;2022;118216;5,6;6,1;44523\nSachsen;2023;131069;6,2;6,8;39492\nSachsen;2024;139751;6,5;7,1;35109\nSachsen-Anhalt;2010;151305;12,5;13,5;8229\nSachsen-Anhalt;2011;139310;11,6;12,5;10700\nSachsen-Anhalt;2012;136701;11,5;12,4;10930\nSachsen-Anhalt;2013;132134;11,2;12,1;10806\nSachsen-Anhalt;2014;125559;10,7;11,6;12451\nSachsen-Anhalt;2015;118852;10,2;11,1;14597\nSachsen-Anhalt;2016;110263;9,6;10,4;16554\nSachsen-Anhalt;2017;96960;8,4;9,2;18555\nSachsen-Anhalt;2018;88106;7,7;8,4;19541\nSachsen-Anhalt;2019;80608;7,1;7,7;20104\nSachsen-Anhalt;2020;86110;7,7;8,2;18777\nSachsen-Anhalt;2021;81093;7,3;7,8;21004\nSachsen-Anhalt;2022;77978;7,1;7,6;22617\nSachsen-Anhalt;2023;82627;7,5;8,0;20665\nSachsen-Anhalt;2024;84801;7,7;8,2;19977\nSchleswig-Holstein;2010;107176;7,5;8,5;11548\nSchleswig-Holstein;2011;103714;7,2;8,2;13857\nSchleswig-Holstein;2012;100051;6,9;7,7;14989\nSchleswig-Holstein;2013;101751;6,9;7,8;15028\nSchleswig-Holstein;2014;100957;6,8;7,6;16853\nSchleswig-Holstein;2015;97850;6,5;7,3;18174\nSchleswig-Holstein;2016;94977;6,3;7,0;21482\nSchleswig-Holstein;2017;92434;6,0;6,7;23615\nSchleswig-Holstein;2018;85053;5,5;6,1;25196\nSchleswig-Holstein;2019;79678;5,1;5,6;25377\nSchleswig-Holstein;2020;92140;5,8;6,5;22063\nSchleswig-Holstein;2021;88865;5,6;6,2;24775\nSchleswig-Holstein;2022;81564;5,2;5,7;30287\nSchleswig-Holstein;2023;87757;5,5;6,0;27340\nSchleswig-Holstein;2024;92493;5,7;6,3;25405\nThüringen;2010;117069;9,8;10,9;10732\nThüringen;2011;104174;8,8;9,8;13699\nThüringen;2012;99316;8,5;9,4;14694\nThüringen;2013;95858;8,2;9,1;14141\nThüringen;2014;90160;7,8;8,6;16776\nThüringen;2015;85212;7,4;8,2;18248\nThüringen;2016;77215;6,7;7,4;21028\nThüringen;2017;68614;6,1;6,6;24085\nThüringen;2018;62145;5,5;6,0;25916\nThüringen;2019;59065;5,3;5,7;23411\nThüringen;2020;66678;6,0;6,5;18211\nThüringen;2021;62249;5,6;6,1;20242\nThüringen;2022;58172;5,3;5,8;21308\nThüringen;2023;64978;5,9;6,4;16586\nThüringen;2024;68768;6,2;6,8;15139\n__________\n"Quelle: Bundesagentur für Arbeit, Nürnberg\n\nAb Januar 2005 sind die Daten über registrierte Arbeitslose\nder Bundesagentur für Arbeit auf Grund der Zusammenlegung\nvon Arbeitslosen- und Sozialhilfe mit früheren Daten nicht\nmehr vergleichbar. Beachten Sie bitte hierzu die\nInformationen zur Arbeitsmarktstatistik der Bundesagentur\nfür Arbeit (Code: 13211).\n\nGemeldete Arbeitsstellen:\nAb Berichtsmonat Juli 2010 werden nur noch ungeförderte\nArbeitsstellen ausgewiesen. Die neue Abgrenzung steht ab\nJanuar 2000 zur Verfügung."\n© Statistisches Bundesamt (Destatis), 2025\nStand: 31.10.2025 / 20:34:05\n'

In [175]:
# csv_text ist dein Output aus data["Object"]["Content"]
csv_text = data["Object"]["Content"]
df_al = pd.read_csv(io.StringIO(csv_text), sep=';', skiprows=5, engine='python')

In [176]:
# Alle Spalten außer der ersten (Bundesland) transformieren
df_al = df_al.iloc[:,:-3]
df_al.columns = ["Bundesland", "Jahr", "Arbeitslose"]
df_al = df_al.dropna()

df_al["Jahr"] = df_al["Jahr"].round()

df_al["Jahr"] = df_al["Jahr"].astype("str").str[:4]
df_al = df_al[df_al["Bundesland"] == bl]

### Merge

In [181]:
df_merge = df1.merge(df_al, how="left", on = ["Bundesland", "Jahr"])

In [182]:
df_merge

,Bundesland,Jahr,Bevölkerung,Bevölkerung_last_year,Bevölkerung_5_year,Perc_Change1,Perc_Change5,Arbeitslose
0,Sachsen,2010,4149477.0,NaN,NaN,NaN,NaN,253198.0
1,Sachsen,2011,4054182.0,4149477.0,NaN,-2.30,NaN,226887.0
2,Sachsen,2012,4050204.0,4054182.0,NaN,-0.10,NaN,207826.0
3,Sachsen,2013,4046385.0,4050204.0,NaN,-0.09,NaN,200628.0
4,Sachsen,2014,4055274.0,4046385.0,NaN,0.22,NaN,187494.0
5,Sachsen,2015,4084851.0,4055274.0,4149477.0,0.73,-1.56,174319.0
6,Sachsen,2016,4081783.0,4084851.0,4054182.0,-0.08,0.68,157862.0
7,Sachsen,2017,4081308.0,4081783.0,4050204.0,-0.01,0.77,140348.0
8,Sachsen,2018,4077937.0,4081308.0,4046385.0,-0.08,0.78,126311.0
9,Sachsen,2019,4071971.0,4077937.0,4055274.0,-0.15,0.41,116051.0
10,Sachsen,2020,4056941.0,4071971.0,4084851.0,-0.37,-0.68,128669.0
11,Sachsen,2021,4043002.0,4056941.0,4081783.0,-0.34,-0.95,124743.0
12,Sachsen,2022,4049967.0,4043002.0,4081308.0,0.17,-0.77,118216.0
13,Sachsen,2023,4054689.0,4049967.0,4077937.0,0.12,-0.57,131069.0
14,Sachsen,2024,4042422.0,4054689.0,4071971.0,-0.30,-0.73,139751.0

### ÖPNV

In [208]:
input_adresse = "Meckenheimer Straße 18B, 67454 Haßloch"

In [209]:
import requests

def geocode(address):
    url = "https://nominatim.openstreetmap.org/search"
    params = {
        'q': address,
        'format': 'json',
        'addressdetails': 1,
        'limit': 1
    }
    headers = {
        'User-Agent': 'ImmobilienStandortScore/1.0'
    }

    r = requests.get(url, params=params, headers=headers)
    data = r.json()

    if len(data) == 0:
        return None
    
    return float(data[0]['lat']), float(data[0]['lon'])

# Beispiel
lat, lon = geocode(input_adresse)
print(lat, lon)

49.373432 8.2535726

In [210]:
lat

49.373432

In [211]:
def get_oepnv_dichte(lat, lon, radius=800):
    query = f"""
    [out:json][timeout:25];
    (
      node["public_transport"="platform"](around:{radius},{lat},{lon});
      node["railway"="station"](around:{radius},{lat},{lon});
      node["railway"="halt"](around:{radius},{lat},{lon});
      node["railway"="tram_stop"](around:{radius},{lat},{lon});
      node["railway"="subway_entrance"](around:{radius},{lat},{lon});
      node["highway"="bus_stop"](around:{radius},{lat},{lon});
    );
    out body;
    """
    
    response = requests.post("https://overpass-api.de/api/interpreter", data=query)
    data = response.json()

    elements = []
    for element in data['elements']:
        elements.append({
            "type": element.get("tags", {}).get("public_transport") or
                    element.get("tags", {}).get("railway") or
                    element.get("tags", {}).get("highway"),
            "lat": element["lat"],
            "lon": element["lon"]
        })
        
    df = pd.DataFrame(elements)
    return df


stations = get_oepnv_dichte(lat, lon)
print(stations)
print("Anzahl Stationen:", len(stations))

       type        lat       lon
0   station  49.371900  8.252504
1  platform  49.372309  8.263223
2  platform  49.371049  8.260596
3  platform  49.372307  8.253806
4  platform  49.368251  8.257849
5  platform  49.368160  8.257995
6  platform  49.369915  8.250787
7  platform  49.371933  8.254901
8  platform  49.369867  8.251323
9  platform  49.371911  8.255228
Anzahl Stationen: 10

In [212]:
len(stations[stations['type'] == 'station'])

1

In [184]:
anzahl_station = len(stations)

bus = len(stations[stations['type'] == 'bus_stop'])
tram = len(stations[stations['type'] == 'tram_stop'])
bahn = len(stations[stations['type'] == 'station'])
subway = len(stations[stations['type'] == 'subway_entrance'])

In [185]:
import math

def station_density(count, radius):
    area_km2 = math.pi * (radius/1000)**2
    return count / area_km2

density = station_density(len(stations), 800)
print("Stationsdichte:", density)

Stationsdichte: 41.778172561622526

### Supermärkte

In [218]:
def get_supermarkets(lat, lon, radius=800):
    query = f"""
    [out:json][timeout:25];
    (
      node["shop"="supermarket"](around:{radius},{lat},{lon});
      node["shop"="grocery"](around:{radius},{lat},{lon});
    );
    out body;
    """
    
    r = requests.post("https://overpass-api.de/api/interpreter", data=query)
    data = r.json()

    elements = []
    for element in data['elements']:
        elements.append({
            "name": element.get("tags", {}).get("name", "Unknown"),
            "lat": element["lat"],
            "lon": element["lon"],
            "type": element.get("tags", {}).get("shop")
        })
    
    df = pd.DataFrame(elements)
    return df

# Beispiel: München Marienplatz
df = get_supermarkets(lat, lon, 2000)
print(df)
print(f"Anzahl Supermärkte: {len(df)}")

             name        lat       lon         type
0        ALDI Süd  49.365804  8.247450  supermarket
1  EDEKA Stiegler  49.367428  8.266383  supermarket
2           PENNY  49.367149  8.265148  supermarket
3            REWE  49.356419  8.260573  supermarket
Anzahl Supermärkte: 4

In [220]:
lon

8.2535726